/* completed task2D: external CSS */

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-image: linear-gradient(#f59590, #f1f2bf);
}

#main-header {
  text-align: center;
}

nav {
  justify-content: center;
  display: flex;
  padding: 30px;
}
nav ul li {
  display: inline;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

nav a {
  color: #fff;
  padding: 10px;
}

nav a:hover {
  border: 1px solid white;
  border-radius: 10px;
}

/* nav a:visited {
} */

img {
  width: 20rem;
  height: 20rem;
  float: right;
  border-radius: 30%;
}

aside {
  position: relative;
  top: 0px;
  right: 15px;
}

.content-section {
  border: 2px solid black;
  padding: 15px;
}

.fun-fact {
  position: absolute;
  top: -20px;
  font-style: italic;
}

.cite {
  font-size: 7px;
}
