* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-image: linear-gradient(red, yellow);
}

#main-header {
  text-align: center;
  border-bottom: 2px solid salmon;
}

nav {
  justify-content: center;
  display: flex;
  padding: 30px;
}
nav ul li {
  display: inline;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

nav a:hover {
  background-color: #ff0000;
  color: #fff;
}

img {
  width: 20rem;
  height: 20rem;
  float: right;
}

aside {
  position: relative;
  top: 5px;
  right: 15px;
}

.content-section {
  border: 2px solid black;
  padding: 15px;
}
