* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  align-items: center;
  justify-content: center;
}

nav {
  position: absolute;
  top: 0;
  transform: translateX(50%);
  padding: 30px;
}
nav ul li {
  display: inline;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

nav a:hover {
  background-color: #ff0000;
  color: #fff;
}

img {
  width: 20rem;
  height: 20rem;
  float: right;
}

aside {
  position: relative;
  top: 5px;
  right: 15px;
}
